@font-face {
    font-family: "myriad";
    src: url("fonts/Myriad\ Web\ Pro\ Bold.ttf") format("truetype");
}

@font-face {
    font-family: "georgia";
    src: url("fonts/Georgia-PersonalUse.otf") format("otf");
}

@font-face {
    font-family: "garet";
    src: url("fonts/Garet-Heavy.otf");
    src:
        url("fonts/Garet-Heavy.otf?#iefix") format("embedded-opentype"),
        url("fonts/Garet-Heavy.woff") format("woff"),
        url("fonts/Garet-Heavy.ttf") format("truetype");
}

.font-myriad {
    font-family: myriad;
}

.font-georgia {
    font-family: georgia;
}

.font-garet {
    font-family: garet;
}

.font-helv {
    font-family: Arial, Helvetica, sans-serif;
}
